@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Base styles */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #FAFAFA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Optional: code font */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom color palette (for reference in Tailwind config later) */
:root {
  --color-primary: #FABC3F;
  --color-secondary: #E85C0D;
  --color-accent: #C7253E;
  --color-dark: #821131;
  --color-balance: #821131;
  --color-income: #006400;
  --color-expenses: #c7253e;
}
